@model IEnumerable<AhorroDigital.API.Data.Entities.TypeOfSaving>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/formularios.css" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<br />
<br />
<div class="contenedor_table">
    <h1 class="mt-4">Procedimientos</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Tipos De Ahorros</li>
    </ol>

    <p class="menu_1">
        <a asp-action="Create" class=" btn btn-primary  "><span>Nuevo</span> <span> <i class="fas fa-plus" aria-hidden="true"> </i> </span> </a>

    </p>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Tabla Tipos De Ahorros
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td align="left">

                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn_fif"><span>Editar</span><span><i class="fas fa-edit"></i></span></a>
                                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><span>Borrar</span><span><i class="fas fa-trash"></i></span></button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <br />
        </div>
    </div>

</div>


<br />


<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/TypeOfSavings/Delete/', false);
        });
    </script>
}